.single-card {
  height: 100vh;
  overflow-y: auto;
}

.info {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: large;
  color: #F8F9FA;
  background-color: rgba(0, 15, 45, 0.7);
}
