.games-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 50em;
  overflow-y: auto;
}

.search-conatainer {
  display: flex;
  justify-content: flex-end;
}
