footer {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  color: #F8F9FA;
  background-color: #154b95;
}

.credit-info {
  margin-left: 10vw;
}

.credits {
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #F8F9FA;
  margin-right: 10vw;
}
